<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service Booking</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .service-history {
        margin-top: 30px;
      }
      table {
        width: 100%;
      }
      th,
      td {
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% include 'customer_navbar.html' %}

    <div class="container available-services">
      <h3>Available Professionals</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Professional Name</th>
            <th>email</th>
            <th>Experience</th>
            <th>Rating</th>
            <th>Book</th>
          </tr>
        </thead>
        <tbody>
          {% for provider in providers %}
          <tr>
            <td>{{ provider.id }}</td>
            <td>{{ provider.fullname }}</td>
            <td>{{ provider.email }}</td>
            <td>{{provider.experience}}</td>
            <td>{{ provider.rating if provider.rating else 'N/A' }}</td>
            <td style="position: relative">
              <form
                action="{{ url_for('customer.request_service')}}"
                method="POST"
                style="display: inline"
              >
                <input
                  type="hidden"
                  name="service_id"
                  value="{{ provider.service_id }}"
                />
                <input
                  type="hidden"
                  name="professional_id"
                  value="{{ provider.id }}"
                />
                <button
                  style="
                    padding: 0.25rem 0.5rem;
                    position: absolute;
                    bottom: 10%;
                    right: 30%;
                    background-color: #4bbf70;
                    color: white;
                    border: 2px solid #4bbf70;
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: background-color 0.3s, border-color 0.3s;
                    outline: none;
                  "
                  type="submit"
                >
                  Book
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Service History Table -->
    <div class="container service-history">
      <h3 class="text-center">Service History</h3>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Service Name</th>
            <th>Professional Name</th>
            <th>Phone No.</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records %}
          <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.service.name }}</td>
            <td>
              {{ record.professional.name if record.professional else 'Not
              Assigned' }}
            </td>
            <td>
              {{ record.professional.phone if record.professional else 'N/A' }}
            </td>
            <td>{{ record.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
